@font-face {
  font-family: "Sweet Candies";
  src: url("../fonts/sweet_candies/Sweet\ Candies.otf");
}

body {
  margin: 0;
  background-color: rgba(245, 234, 207, 0.37);
}

.top_border {
  /* transform: translate(0, -45%); */
  width: 100%;
  /* height: auto; */
  height: 100px;
  max-height: 300px;
  /* max-width: 1440px; */
}

.candy {
  font-family: "Sweet Candies";
  font-weight: bold;
  text-shadow: 1px 2px 2px rgb(0 0 0 / 0.6);
}

.bellota {
  font-family: "Bellota", sans-serif;
  font-weight: bold;
}

.divider {
  border-top: 2px solid black;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 21%;
}

.sidenav li a:hover {
  border-radius: 0;
}

.nav-wrapper ul li a {
  background-color: transparent; /* Set a transparent background initially */
  border-radius: 50px; /* Ensure the border radius is always rounded */
  transition: background-color 0.3s ease, border-radius 0.3s ease; /* Smooth transition for hover effects */
}

.nav-wrapper ul li a:hover {
  border-radius: 50px; /* Adjust to your preferred radius */
  transition: background-color 0.3s ease; /* Optional: smooth color transition */
}

/* .hero {
  width: 100%;
  height: auto;
} */


.hero-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1;
  transform-origin: center;
}

.hero-text {
    margin-bottom: 33.5rem !important;
}

.absolute {
    position: absolute;
}

.hover-state:hover {
    border-radius: 50px;
    background-color: blue;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-5 {
    margin-right: 5rem;
}

.p1 {
  font-size: 1rem;
}

.p2 {
  font-size: 1.5rem;
}

.p3 {
  font-size: 2rem;
}

.p4 {
  font-size: 2.5rem;
}

.p5 {
  font-size: 3rem;
}

.p6 {
  font-size: 4rem;
}

.p7 {
  font-size: 5rem;
}

.p8 {
  font-size: 6rem;
}

.p9 {
  font-size: 7rem;
}

.flex {
  display: flex;
}

.h-3\/4 {
    height: 75%;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-3\/4 {
    width: 75%;
}

.w-auto {
    width: auto;
}

.w-full {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.justify-even {
    justify-content: space-evenly;
}

.items-center {
    align-items: center;
}

@media only screen and (max-width: 600px) {
  .top_border {
    height: auto;
    width: 100%;
  }

  .hero-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
    transform-origin: center;
  }

  .hero-image {
    width: auto;
    height: 100vh;
  }

  .hero-text {
    margin-bottom: 0;
  }

  .candy {
    font-size: 4rem;
  }
}
